* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
    width: 99%;
}

main {
    margin-top: 69px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid seashell;
    z-index: 5;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    top: 0;
}

nav ul {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    padding-right: 20px;
}

nav ul a {
    margin-left: 10px;
    text-decoration: underline;
}

#logo {
    padding-left: 10px;
    height: 50px;
}

#banner {
    background-repeat: no-repeat;
    background-image: url("../images/img-mission-background.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

#banner div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    opacity: 0.9;
    width: 100%;
}

.gallery {
    margin-top: 15px;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.gallery .galleryheader {
    margin: 20px;
}

.gallery .galleryheader h3 {
    margin-top: 20px;
}

.gallery img{
    max-width: 300px;
    max-height: 200px;
}

.galleryfeatured {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
}

.featuredbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}